* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(116, 33, 212);
    background: linear-gradient(90deg, rgba(116, 33, 212, 1) 0%, rgba(61, 49, 149, 1) 48%, rgba(64, 105, 201, 1) 100%);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}

.homepage {
    background: rgb(116, 33, 212);
    background: linear-gradient(114deg, rgba(116, 33, 212, 1) 0%, rgba(61, 49, 149, 1) 48%, rgba(64, 105, 201, 1) 100%);
    background-image: url('Darkmoon.jpg');
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: rgba(0, 0, 0, 0.2);
}

section {
    padding: 10px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 80vh;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 300px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a,
button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px #045476;
    border-radius: 50px;
    padding: 9px 25px;
}

nav li a:hover {
    color: #045476;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: #4069C9;
    transition: all 0.4s ease 0s;
}

form {
    margin: auto;
    max-width: 800px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 1px;
    margin-bottom: 10px;

}

h2 {
    border-color: black;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

input[type="text"],
input[type="file"] {
    width: 50%;
    margin-left: 0px;
    border: 2px solid #88889a;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

input[type="submit"] {
    display: block;
    width: 30%;
    padding: 10px;
    margin-left: 0px;
    margin-right: 50px;
    background-color: #5d05bc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(81, 95, 200);
}

.logo {
    font-size: 40PX;
    font-weight: bold;
    color: #07445F;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4069C9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4069C9;
}

.logo1 {
    max-height: 100%;
    width: 700px;
    height: 700px;
    background-size: cover;
    background-image: url('File.png');
    margin-top: 0em;
    margin-left: -8em;
    object-position: 100% 50%;
    object-fit: none;
}



#blackoutline {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #ffffff;

    /* the first value is the width
    and the second value is the color */
    -webkit-text-stroke: 2px #ffffff;
}

#border {
    --b: .5em;
    /* border width */
    --c: 3em;
    /* corner size */
    --r: 2em;
    /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 1em;
    max-width: 23em;
    font: 1.25em ubuntu, sans-serif;

    &::before {
        position: absolute;
        z-index: -1;
        inset: calc(-1*var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(#4069c9, #4069c9, rgb(84, 7, 151)) border-box;
        --corner:
            conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 0 0/ calc(100% - var(--c)) calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: ''
    }
}

.results-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result_box {
    margin: auto;
    max-width: 800px;
    padding: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* For loading pop up */

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: auto;
    max-width: 800px;
    padding: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
